<td id="col01" style="text-align: right">
  <div class="linea" ><div class="caja"><div class="texto">
    Equipo 01 Vs Equipo 02
  </div></div></div>
  <br>
  <br>
  <div class="linea"><div class="caja"><div class="texto">
    Equipo 03 Vs Equipo 04
  </div></div></div>
  <br>
  <br>
  <div class="linea"><div class="caja"><div class="texto">
    Equipo 05 Vs Equipo 06
  </div></div></div>
  <br>
  <br>
  <div class="linea"><div class="caja"><div class="texto">
    Equipo 07 Vs Equipo 08
  </div></div></div>
</td>

<!-- <div class="lineaimg"><img  width="15px" height="30px" src="assets/llave01.jpg"></div> -->

<td id="col02" style="text-align: left">
  <div class="lineaimg"><img  width="15px" height="30px" src="assets/llave01.jpg"></div>
</td>

<div id="col03">

</div>

<div id="col04">
<div align="right"><div class="caja"><div class="texto">Equipo 01 Vs Equipo 02</div></div></div>
<br>
<div align="right"><div class="caja"><div class="texto">Equipo 03 Vs Equipo 04</div></div></div>
<br>
<div align="right"><div class="caja"><div class="texto">Equipo 05 Vs Equipo 06</div></div></div>
<br>
<div align="right"><div class="caja"><div class="texto">Equipo 07 Vs Equipo 08</div></div></div>
</div>
