<br><br><br>
<table align="center" style="width:85%" *ngIf = "pantalla === 640">
  <tr style="background-color: #01DFA5;">
    <td style="text-align: center;">
      <a href="#" [routerLink]="['../fixtureopci']">
        <font size="6" color="black">TEMPORADA 2019</font>
      </a>
    </td>
    <td style="text-align: center;">
      <a href="#" [routerLink]="['../clasificatorioopc']">
        <font size="6" color="black">CLASIFICATORIO 2019</font>
      </a>
    </td>
  </tr>  
</table>

<table align="center" style="width:60%" *ngIf = "pantalla === 360">
  <tr style="background-color: #01DFA5;">
    <td style="text-align: center;">
      <a href="#" [routerLink]="['../fixtureopci']">
        <font size="2" color="black">TEMPORADA 2019</font>
      </a>
    </td>
    <td style="text-align: center;">
      <a href="#" [routerLink]="['../clasificatorioopc']">
        <font size="2" color="black">CLASIFICATORIO 2019</font>
      </a>
    </td>
  </tr>  
</table>
<br><br><br>