<b>Goleadores</b>
<br>
<br>
<div class="tab">
  <div *ngFor="let div of divisionalesService.divisional; let ind=index">
    <!--PARA PC-->
    <div *ngIf = "pantalla === 640">
      <button class="tablinks" (click)="campeonatosDivisionales($event, div.divisionalid)" id=div.divisionalid>{{div.divisionalnom}}</button>
    </div>
    <!--PARA CEL-->
    <div *ngIf = "pantalla === 360">
      <button class="tablinks" (click)="campeonatosDivisionales($event, div.divisionalid)" id=div.divisionalid>
        <font size =1>{{div.divisionalnom}}</font>
      </button>
    </div>
  <hr>
  </div>
</div>

<div id="DivCon" class="tabcontent">
  
  <div class="tabh">
    <div *ngFor="let cam of campeonatosService.campeonatos; let ind=index">
      <!--PARA PC-->
      <div *ngIf = "pantalla === 640">
          <button class="tablinksh" (click)="getGolesJug($event, cam.campeonatoid)" id=cam.campeonatoid>{{cam.campeonatonom}}</button>
      </div>
      <!--PARA CEL-->
      <div *ngIf = "pantalla === 360">
          <button class="tablinksh" (click)="getGolesJug($event, cam.campeonatoid)" id=cam.campeonatoid>
              <font size =1>{{cam.campeonatonom}}</font>
          </button>
      </div>
    </div>
  </div>
    
  <div id="GolJug" class="tabcontenth">

    <table class="scrolltable" >
      <tr *ngIf="CanJug > 0">
        <td style="height:40%" *ngIf = "pantalla === 640"><b>Nombre</b></td>
        <td style="height:40%" *ngIf = "pantalla === 360"><b><font size =1>Nom.</font></b></td>
        <td style="height:40%" *ngIf = "pantalla === 640"><b>Equipo</b></td>
        <td style="height:40%" *ngIf = "pantalla === 360"><b><font size =1>Equi.</font></b></td>
        <td style="height:20%" *ngIf = "pantalla === 640"><b>Goles</b></td>
        <td style="height:20%" *ngIf = "pantalla === 360"><b><font size =1>Gol.</font></b></td>
      </tr>

      <tr class="odd" *ngFor="let jug of juparsService.jugpar">
        <td width="40%">{{ jug.jugadornom}}</td>
        <td width="40%">{{ jug.equiponom}}</td>
        <td width="20%">{{ jug.jugadorgol}}</td>
      </tr>
    </table>
    
  </div>

</div>

  


